<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Barry</h1>
  <div id="app">
    <p v-if="characters.length === 0">There are no characters</p>
    <ul v-else>
      <li v-for="(character, index) in characters.filter(char => char.favorite)">
        {{index+1}}] {{ character.name }} ({{ character.state }})
        <button @click="addRemoveFavorite(character.id)">⬇️</button>
      </li>
      
      <hr />
      
      <li v-for="(character, index) in characters.filter(char => !char.favorite)">
        {{index+1}}] {{ character.name }} ({{ character.state }})
        <button @click="addRemoveFavorite(character.id)">🔥</button>
      </li>

      <hr />

      <form>
        <label>Character name</label>
        <input v-model="newCharacter.name" type="text" />
        <br>
        <label>State</label>
        <select v-model="newCharacter.state">
          <option value="Death">Death</option>
          <option value="Alive">Alive</option>
        </select>
        <br>
        <label>Stars</label>
        <input v-model="newCharacter.stars" type="number" />
        <br>
        <label>Favorite</label>
        <input v-model="newCharacter.favorite" type="checkbox" />
        <br>
        <button type="button" @click="addNewCharacter">Save</button>
      </form>

      <hr />

      <h2>Death characters: {{ deathCharacterPercentage }}</h2>
      <h2>Alive characters: {{ aliveCharacterPercentage }}</h2>

      <h2>Average characters stars: {{ averageStars }}</h2>

    </ul>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      data: () => {
        return {
          newCharacter: {
            name: '',
            favorite: false,
            state: 'Alive',
            stars: 0
          },
          characters: [
            {
              id: 1,
              name: 'Barry',
              state: 'Death',
              favorite: false,
              stars: 5
            },
            {
              id: 2,
              name: 'Noho Hank',
              state: 'Death',
              favorite: false,
              stars: 4
            },
            {
              id: 3,
              name: 'The raven',
              state: 'Alive',
              favorite: false,
              stars: 4
            },
            {
              id: 4,
              name: 'Gene',
              state: 'Alive',
              favorite: false,
              stars: 4
            }
          ]
        }
      },
      computed: {
        deathCharacterPercentage() {
          return `${
            (this.characters.filter(char => char.state === 'Death').length / this.characters.length) * 100
          }%`;
        },
        aliveCharacterPercentage() {
          return `${
            (this.characters.filter(char => char.state === 'Alive').length / this.characters.length) * 100
          }%`;
        },
        averageStars() {
          return Math.floor(this.characters.map(char => char.stars).reduce((a,b) => a+b) / this.characters.length);
        }
      },
      methods: {
        addRemoveFavorite(id) {
          this.characters[this.characters.findIndex(char => char.id === id)].favorite = 
          !this.characters[this.characters.findIndex(char => char.id === id)].favorite;
        },
        addNewCharacter(event) {
          event.preventDefault();
          const newCharacterObject = {
            ...this.newCharacter,
            id: this.characters[this.characters.length - 1] + 1
          };
          this.characters.push(newCharacterObject);
          this.newCharacter = {
            name: '',
            favorite: false,
            state: 'Alive',
          }
        }
      }
    });
    app.mount("#app")
  </script>
</body>
</html>