<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Barry</h1>
  <div id="app">
    <p v-if="characters.length === 0">There are no characters</p>
    <ul v-else>
      <li v-for="(character, index) in characters.filter(char => char.favorite)">
        {{index+1}}] {{ character.name }} ({{ character.state }})
        <button @click="addRemoveFavorite(character.id)">⬇️</button>
      </li>
      <hr />
      <li v-for="(character, index) in characters.filter(char => !char.favorite)">
        {{index+1}}] {{ character.name }} ({{ character.state }})
        <button @click="addRemoveFavorite(character.id)">🔥</button>
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      data: () => {
        return {
          characters: [
            {
              id: 1,
              name: 'Barry',
              state: 'Death',
              favorite: false
            },
            {
              id: 2,
              name: 'Noho Hank',
              state: 'Death',
              favorite: false
            },
            {
              id: 3,
              name: 'The raven',
              state: 'Alive',
              favorite: false
            },
            {
              id: 4,
              name: 'Gene',
              state: 'Alive',
              favorite: false
            }
          ]
        }
      },
      methods: {
        addRemoveFavorite(id) {
          this.characters[this.characters.findIndex(char => char.id === id)].favorite = 
          !this.characters[this.characters.findIndex(char => char.id === id)].favorite;
        }
      }
    });
    app.mount("#app")
  </script>
</body>
</html>